@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;500;600;700&display=swap');

theme {
  --color-pink-primary: #f4a6c3;
  --color-rose-pink: #e8a0bf;
  --color-light-pink: #fce4ec;
  --color-purple: #9b59b6;
  --color-light-blue: #d4e4f7;
  --color-gold: #d4af37;
  
  --font-family-heading: 'Playfair Display', serif;
  --font-family-body: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fffaf5;
}